*.pdf
*.aux
*.log
*.out
*.synctex.gz
*.txss
*.thm
*.toc
*.bbl
*.blg
*.bcf
*.run.xml
_*_.tex
**/auto/*.el
\#*\#
.\#*
*~
*.bak
*.zip
*.nav
*.snm
*.vrb
*.fdb_latexmk
*.fls
*.vo
*.vos
*.vok
*.glob
*.v.d
*.vio
Makefile.coq*
*.crashcoqide
.coqdeps.d
build-dep
_opam
.lia.cache
/html
